<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" routerLinkActive='active'  [routerLink]="['/']" >All In One Place</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a  routerLinkActive='active'  [routerLink]="['/home']" >Home</a></li>
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li> -->
        <!-- <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLinkActive='active' [routerLink]="['/dashbord']">Dashbord</a></li>
        <li><a routerLinkActive='active' [routerLink]="['/profile']">Profile</a></li>
        <li><a routerLinkActive='active' [routerLink]="['/login']">Login</a></li>
        <li><a routerLinkActive='active' [routerLink]="['/profile']">Logout</a></li>
        <li><a routerLinkActive='active' [routerLink]="['/register']">Register</a></li>
      
      </ul>
    </div>
  </div>
</nav>